.active {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    max-width: 500px;
    margin-top: 2rem;
}

h2 {
    margin-top: 30px;
}

.signout {
    display: grid;
}

.list {
    margin-bottom: 20px;
}

.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}