.container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.dashboard {
    flex: 3;
}

.memo {
    flex: 1;
}

h1 {
    margin-bottom: 20px;
}

.welcome {
    margin-top: 20px;
    margin-bottom: 20px;
}