.header {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.logo {
    font-size: 1.5rem;
}

.user-info {
    text-align: right;
}