/* .header {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.logo {
    font-size: 1.5rem;
}

.user-info {
    text-align: right;
}

.user-info h4 {
    font-size: 1.2rem;
}

.logout-btn {
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:deepskyblue;
} */


/* .header {
    background-color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
} */